<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .page-nav-btn {
    display:inline-block; font-size: 12px; margin: 3px;padding: 8px 32px; border:none;border-radius:2px; background-color: #1976d2;color: white;
  }
</style>

<!-- Toolbar -->
<div class="content" role="main">
  <button (click)="sendGetRequest()" style="background-color:rgb(54, 230, 156);color:rgb(9, 121, 115);border:none;padding:10px 20px;font-size: 16px;">Load Pdf</button>
  <div style="display:inline-block;">
    <button (click)="prevPage()" [disabled]="!totalPages || page === 1" class="page-nav-btn">Prev</button>
    <button (click)="nextPage()" [disabled]="!totalPages || totalPages === 1 || page === totalPages" class="page-nav-btn">Next</button>
  </div>
  <p>Pages : {{ page }} / {{ totalPages }} </p>
  <h1 *ngIf="pdfSrc === ''" style="padding-top:50px">
    Not Pdf file loaded...
  </h1>
  <pdf-viewer [src]="pdfSrc" [render-text]="true" *ngIf="pdfSrc !== ''" [show-all]="false" [page]="page" [original-size]="false" style="margin-bottom:120px;width: 1000px; height: 1600px;margin-top: 140px;position: absolute;" (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>
</div>

<router-outlet></router-outlet>